In [22]:
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn_pandas import DataFrameMapper, CategoricalImputer
from sklearn.preprocessing import StandardScaler, LabelEncoder, LabelBinarizer
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, HuberRegressor, LogisticRegression

from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

In [4]:
df = pd.read_csv('data/tips.csv')

In [6]:
df.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

In [7]:
df.tail(1)

     total_bill  tip     sex smoker   day    time  size
243       18.78  3.0  Female     No  Thur  Dinner     2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [15]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [17]:
df.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

In [9]:
target = 'tip'
y = df[target]
X = df.drop(target, axis=1)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [19]:
mapper = DataFrameMapper([
    (['total_bill'], StandardScaler()),
    ('sex', LabelBinarizer()),
    ('smoker', LabelBinarizer()),
    ('day', LabelEncoder()),
    ('time', LabelEncoder()),
    (['size'], StandardScaler())
    ], df_out= True
)

In [20]:
Z_train = mapper.fit_transform(X_train)

In [21]:
Z_test = mapper.transform(X_test)

In [23]:
model = LinearRegression().fit(Z_train, y_train)
model.score(Z_test, y_test)

0.3470695928047467