In [1]:
import pandas as pd 
import catboost as cb

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn_pandas import DataFrameMapper, CategoricalImputer
from sklearn.preprocessing import StandardScaler, LabelEncoder, LabelBinarizer
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, HuberRegressor, LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv('data/tips.csv')

In [3]:
df.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

In [4]:
df.tail(1)

     total_bill  tip     sex smoker   day    time  size
243       18.78  3.0  Female     No  Thur  Dinner     2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [6]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [7]:
df.head(1)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

Naive model

In [8]:
df['15%_tip'] = (df['total_bill']*(.15))

In [9]:
df

     total_bill   tip     sex smoker   day    time  size  15%_tip
0         16.99  1.01  Female     No   Sun  Dinner     2   2.5485
1         10.34  1.66    Male     No   Sun  Dinner     3   1.5510
2         21.01  3.50    Male     No   Sun  Dinner     3   3.1515
3         23.68  3.31    Male     No   Sun  Dinner     2   3.5520
4         24.59  3.61  Female     No   Sun  Dinner     4   3.6885
..          ...   ...     ...    ...   ...     ...   ...      ...
239       29.03  5.92    Male     No   Sat  Dinner     3   4.3545
240       27.18  2.00  Female    Yes   Sat  Dinner     2   4.0770
241       22.67  2.00    Male    Yes   Sat  Dinner     2   3.4005
242       17.82  1.75    Male     No   Sat  Dinner     2   2.6730
243       18.78  3.00  Female     No  Thur  Dinner     2   2.8170

[244 rows x 8 columns]

In [10]:
target = 'tip'
y = df[target]
X = df[['15%_tip']]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
model = LinearRegression().fit(X_train, y_train)
model.score(X_test, y_test)

0.4401350211140492

In [13]:
mean_squared_error(y_test, model.predict(X_test))**(1/2)

0.8630517194793621

Basic Model

In [8]:
target = 'tip'
y = df[target]
X = df.drop(target, axis=1)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [10]:
mapper = DataFrameMapper([
    (['total_bill'], StandardScaler()),
    ('sex', LabelBinarizer()),
    ('smoker', LabelBinarizer()),
    ('day', LabelEncoder()),
    ('time', LabelEncoder()),
    (['size'], StandardScaler())
    ], df_out= True
)

In [11]:
Z_train = mapper.fit_transform(X_train)

In [12]:
Z_test = mapper.transform(X_test)

In [15]:
viewing = mapper

In [ ]:
viewing

In [19]:
model = LinearRegression().fit(Z_train, y_train)
model.score(Z_test, y_test)

0.3470695928047467

In [20]:
mean_squared_error(y_test, model.predict(Z_test))**(1/2)

0.9320272674782091

Ridge

In [21]:
model = Ridge()
params = {
    'alpha': [20, 25, 30],
    'fit_intercept': [True, False],
}

In [22]:
grid = GridSearchCV(model, params, cv=3, n_jobs=-1, verbose=1)

In [23]:
grid.fit(Z_train, y_train)
grid.best_score_

Fitting 3 folds for each of 6 candidates, totalling 18 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 out of  18 | elapsed:    4.5s finished

0.4234584219585732

In [24]:
grid.best_params_

{'alpha': 20, 'fit_intercept': True}

In [25]:
model = grid.best_estimator_
model.score(Z_test, y_test)

0.39681352057252256

In [26]:
mean_squared_error(y_test, model.predict(Z_test))**(1/2)

0.8958204455010627

Lasso

In [27]:
model = Lasso()
params = {
    'alpha': [.01, .1, 1],
    'fit_intercept': [True, False],
}

In [28]:
grid = GridSearchCV(model, params, cv=3, n_jobs=-1, verbose=1)

In [29]:
grid.fit(Z_train, y_train)
grid.best_score_

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 out of  18 | elapsed:    0.1s finished

Fitting 3 folds for each of 6 candidates, totalling 18 fits

0.42258799195737845

In [30]:
grid.best_params_

{'alpha': 0.1, 'fit_intercept': True}

In [31]:
model = grid.best_estimator_
model.score(Z_test, y_test)

0.4473621862600412

In [33]:
mean_squared_error(y_test, model.predict(Z_test))**(1/2)

0.8574631598621847

CatBoost

In [53]:
df = pd.read_csv('data/tips.csv')

In [54]:
target = 'tip'
y = df[target]
X = df.drop(target, axis=1)

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [56]:
mapper = DataFrameMapper([
    (['total_bill'], StandardScaler()),
    ('sex', LabelBinarizer()),
    ('smoker', LabelBinarizer()),
    ('day', LabelEncoder()),
    ('time', LabelEncoder()),
    (['size'], StandardScaler())
    ], df_out= True
)

In [57]:
Z_train = mapper.fit_transform(X_train)

In [58]:
Z_test = mapper.transform(X_test)

In [59]:
model = cb.CatBoostRegressor(
    iterations=100, 
    early_stopping_rounds=10,
)

model.fit(Z_train, y_train)

0:	learn: 1.4230518	total: 66.9ms	remaining: 6.63s
1:	learn: 1.4095445	total: 68.2ms	remaining: 3.34s
2:	learn: 1.3960678	total: 69ms	remaining: 2.23s
3:	learn: 1.3813156	total: 69.7ms	remaining: 1.67s
4:	learn: 1.3698852	total: 70.7ms	remaining: 1.34s
5:	learn: 1.3561161	total: 71.7ms	remaining: 1.12s
6:	learn: 1.3414718	total: 72.6ms	remaining: 964ms
7:	learn: 1.3290094	total: 73.5ms	remaining: 845ms
8:	learn: 1.3195516	total: 74.1ms	remaining: 749ms
9:	learn: 1.3098737	total: 74.8ms	remaining: 673ms
10:	learn: 1.2976481	total: 75.7ms	remaining: 613ms
11:	learn: 1.2858576	total: 76.6ms	remaining: 562ms
12:	learn: 1.2731927	total: 77.5ms	remaining: 518ms
13:	learn: 1.2632882	total: 78.3ms	remaining: 481ms
14:	learn: 1.2541331	total: 79.1ms	remaining: 448ms
15:	learn: 1.2434327	total: 79.9ms	remaining: 419ms
16:	learn: 1.2343088	total: 80.5ms	remaining: 393ms
17:	learn: 1.2237547	total: 81.4ms	remaining: 371ms
18:	learn: 1.2140657	total: 82.2ms	remaining: 350ms
19:	learn: 1.2053453	total: 82.9ms	remaining: 332ms
20:	learn: 1.1963012	total: 83.7ms	remaining: 315ms
21:	learn: 1.1886845	total: 84.5ms	remaining: 299ms
22:	learn: 1.1790699	total: 85.2ms	remaining: 285ms
23:	learn: 1.1719485	total: 86ms	remaining: 272ms
24:	learn: 1.1664728	total: 86.5ms	remaining: 259ms
25:	learn: 1.1577519	total: 87.2ms	remaining: 248ms
26:	learn: 1.1496089	total: 87.7ms	remaining: 237ms
27:	learn: 1.1398861	total: 88.5ms	remaining: 228ms
28:	learn: 1.1346711	total: 89.3ms	remaining: 219ms
29:	learn: 1.1278378	total: 90.1ms	remaining: 210ms
30:	learn: 1.1195955	total: 90.8ms	remaining: 202ms
31:	learn: 1.1113142	total: 91.6ms	remaining: 195ms
32:	learn: 1.1039451	total: 92.7ms	remaining: 188ms
33:	learn: 1.0979450	total: 93.5ms	remaining: 182ms
34:	learn: 1.0950126	total: 93.9ms	remaining: 174ms
35:	learn: 1.0894399	total: 94.7ms	remaining: 168ms
36:	learn: 1.0833545	total: 95.5ms	remaining: 163ms
37:	learn: 1.0770049	total: 96.1ms	remaining: 157ms
38:	learn: 1.0720742	total: 96.9ms	remaining: 152ms
39:	learn: 1.0653277	total: 97.7ms	remaining: 146ms
40:	learn: 1.0601043	total: 98.5ms	remaining: 142ms
41:	learn: 1.0542327	total: 99.3ms	remaining: 137ms
42:	learn: 1.0485414	total: 100ms	remaining: 133ms
43:	learn: 1.0454737	total: 101ms	remaining: 128ms
44:	learn: 1.0416441	total: 101ms	remaining: 124ms
45:	learn: 1.0383197	total: 102ms	remaining: 119ms
46:	learn: 1.0330765	total: 102ms	remaining: 115ms
47:	learn: 1.0281059	total: 103ms	remaining: 112ms
48:	learn: 1.0219188	total: 104ms	remaining: 108ms
49:	learn: 1.0168849	total: 104ms	remaining: 104ms
50:	learn: 1.0106261	total: 105ms	remaining: 101ms
51:	learn: 1.0053314	total: 106ms	remaining: 97.7ms
52:	learn: 1.0015832	total: 107ms	remaining: 94.6ms
53:	learn: 0.9966738	total: 107ms	remaining: 91.5ms
54:	learn: 0.9912861	total: 108ms	remaining: 88.5ms
55:	learn: 0.9852683	total: 109ms	remaining: 85.6ms
56:	learn: 0.9816514	total: 110ms	remaining: 82.8ms
57:	learn: 0.9784640	total: 110ms	remaining: 80ms
58:	learn: 0.9749855	total: 111ms	remaining: 77.3ms
59:	learn: 0.9712474	total: 112ms	remaining: 74.7ms
60:	learn: 0.9666374	total: 113ms	remaining: 72.1ms
61:	learn: 0.9633924	total: 113ms	remaining: 69.5ms
62:	learn: 0.9598491	total: 114ms	remaining: 67ms
63:	learn: 0.9573025	total: 115ms	remaining: 64.6ms
64:	learn: 0.9542174	total: 116ms	remaining: 62.3ms
65:	learn: 0.9515154	total: 116ms	remaining: 60ms
66:	learn: 0.9494423	total: 117ms	remaining: 57.6ms
67:	learn: 0.9458891	total: 118ms	remaining: 55.4ms
68:	learn: 0.9414949	total: 118ms	remaining: 53.2ms
69:	learn: 0.9382694	total: 119ms	remaining: 51.1ms
70:	learn: 0.9344666	total: 120ms	remaining: 49ms
71:	learn: 0.9330203	total: 121ms	remaining: 47ms
72:	learn: 0.9302369	total: 121ms	remaining: 44.9ms
73:	learn: 0.9272002	total: 122ms	remaining: 43ms
74:	learn: 0.9239704	total: 123ms	remaining: 41ms
75:	learn: 0.9220794	total: 124ms	remaining: 39.1ms
76:	learn: 0.9181847	total: 125ms	remaining: 37.2ms
77:	learn: 0.9157272	total: 125ms	remaining: 35.4ms
78:	learn: 0.9132446	total: 126ms	remaining: 33.5ms
79:	learn: 0.9103959	total: 127ms	remaining: 31.7ms
80:	learn: 0.9083692	total: 128ms	remaining: 29.9ms
81:	learn: 0.9055888	total: 128ms	remaining: 28.2ms
82:	learn: 0.9025970	total: 129ms	remaining: 26.5ms
83:	learn: 0.9011097	total: 130ms	remaining: 24.7ms
84:	learn: 0.8998071	total: 131ms	remaining: 23ms
85:	learn: 0.8969487	total: 131ms	remaining: 21.4ms
86:	learn: 0.8942077	total: 132ms	remaining: 19.7ms
87:	learn: 0.8899282	total: 133ms	remaining: 18.1ms
88:	learn: 0.8874342	total: 134ms	remaining: 16.5ms
89:	learn: 0.8854736	total: 134ms	remaining: 14.9ms
90:	learn: 0.8833728	total: 135ms	remaining: 13.4ms
91:	learn: 0.8799345	total: 136ms	remaining: 11.8ms
92:	learn: 0.8777653	total: 137ms	remaining: 10.3ms
93:	learn: 0.8766999	total: 137ms	remaining: 8.78ms
94:	learn: 0.8747574	total: 138ms	remaining: 7.28ms
95:	learn: 0.8728193	total: 139ms	remaining: 5.79ms
96:	learn: 0.8702758	total: 140ms	remaining: 4.32ms
97:	learn: 0.8681840	total: 141ms	remaining: 2.87ms
98:	learn: 0.8668726	total: 141ms	remaining: 1.43ms
99:	learn: 0.8639292	total: 142ms	remaining: 0us

In [60]:
model.score(Z_test, y_test)

0.4013664530303154